
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li>
        <a asp-action="Index" asp-controller="Banners">Manage Panners</a>
    </li>
     <li>
        <a asp-action="Index" asp-controller="Events">Manage Events</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Clients">Manage Clients</a>
    </li>
</ul>

